* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: lightcyan;
    padding: 1.5rem;
}

.todo-app {
    width: 100%;
    max-width: 34rem;
    background: wheat;
    margin: 6.3rem auto 1.2rem;
    padding: 2.5rem 1.9rem 4.4rem;
    border-radius: 0.6rem;
}

.todo-app h2 {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}

.todo-app h2 img {
    margin-left: 0.6rem;
}

.todo-app .danger{
    font-size: 1.4rem;
    color: red;
    position: absolute;
    display: none;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gainsboro;
    border-radius: 1.7rem;
    padding-left: 1.2rem;
    margin-bottom: 1.5rem;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.6rem;
    font-weight: 0.9rem;
}

button {
    border: none;
    outline: none;
    padding: 1rem 3rem;
    background: tomato;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2.5rem;
}

ul li {
    list-style: none;
    font-size: 1.1rem;
    padding: 0.8rem 0.5rem 0.8rem 3rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-image: url(images/icons8-unchecked-checkbox-48.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: black;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/icons8-checked-checkbox-48.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    color: black;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: grey;
}